.vcd-settings-button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin-top: 0.5em;
}

.vcd-settings-section {
    margin-top: 1.5rem;
}

.vcd-settings-title {
    margin-bottom: 0.5rem;
}