.vcd-settings-button-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin-top: 0.5em;
}

.vcd-settings-title {
    margin-bottom: 32px;
}

.vcd-settings-category {
    display: flex;
    flex-direction: column;
}

.vcd-settings-category-title {
    margin-bottom: 16px;
}

.vcd-settings-category-content {
    display: flex;
    flex-direction: column;
    gap: 24px;
}

.vcd-settings-category-divider {
    margin-top: 32px;
    margin-bottom: 32px;
}

.vcd-settings-switch {
    margin-bottom: 0;
}

.vcd-settings-updater-card {
    padding: 1em;
    margin-bottom: 1em;
    display: grid;
    gap: 0.5em;

    border-radius: 8px;
    background-color: var(--bg-secondary);
    background: var(--background-feedback-warning);
    border: 1px solid var(--info-warning-foreground);
    color: var(--text-feedback-warning);
}