.vcd-location-btns {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0.5em;
    margin-top: 0.5em;
}

.vcd-settings-section {
    margin-top: 1.5rem;
}

.vcd-settings-title {
    margin-bottom: 0.5rem;
}

#vcd-tray-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;

}
.vcd-tray-setting-switch {
    flex-grow: 1;
    align-self: flex-start;
    margin-right: 20rem;
}
.vcd-tray-setting-reset {
    align-self: right;
    position: relative;
    margin-left: auto;
    margin-right: 1em;
    bottom: 24px;
}

.vcd-tray-icon-wrap {
    position: relative;
    align-self: right;
    bottom: 24px;
}

.vcd-tray-icon-image {
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
}

.vcd-edit-button {
    visibility: visible;
    display: block;
    opacity: 0;
    position: absolute;
    top: 4px;
    left: 4px;
}

.vcd-tray-icon-wrap:hover .vcd-tray-icon-image {
    transition: 0.3s ease;
    background-color: rgb(0, 0, 0) no-repeat;
    opacity: 0.25;
}
.vcd-tray-icon-wrap:hover .vcd-edit-button {
    transition: 0.3s ease;
    visibility: visible;
    opacity: 1;
}
