.vcd-tray-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vcd-tray-settings-labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}

#vcd-tray-setting {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: nowrap;
}

.vcd-tray-icon-wrap {
    position: relative;
    align-self: end;
    background: var(--background-secondrary);
    border-radius: var(--radius-sm);
}

.vcd-tray-icon-image {
    border-radius: 50%;
    position: relative;
    top: 0;
    right: 0;
}

.vcd-edit-button {
    visibility: visible;
    opacity: 0;
    position: absolute;
    top: 0.8em;
    left: 0.8em;
}

.vcd-tray-icon-wrap:hover .vcd-tray-icon-image {
    transition: 0.3s ease;
    background-color: rgb(0, 0, 0) no-repeat;
    opacity: 0.25;
}

.vcd-tray-icon-wrap:hover .vcd-edit-button {
    transition: 0.3s ease;
    visibility: visible;
    opacity: 1;
}

.vcd-custom-tray-header h1 {
    margin: 0;
}

.vcd-custom-tray-modal {
    padding: 1em;
}

.vcd-custom-tray-icon-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.vcd-custom-tray-buttons {
    display: flex;
    flex-direction: row;
    align-items: center;
    column-gap: 1em;
}