.vcd-tray-settings {
    display: flex;
    flex-direction: column;
}

.vcd-tray-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.vcd-tray-settings-labels {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
}