<!doctype html>
<meta charset="utf-8" />

<head>
    <title>Vesktop Recovery Mode</title>

    <link rel="stylesheet" href="./common.css" type="text/css" />

    <style>
        body {
            padding: 2em;
        }

        h1 {
            text-align: center;
            margin-bottom: 2em;
        }

        .red {
            background-color: var(--red);
        }

        .buttons {
            display: grid;
            gap: 1em;
            grid-template-columns: 1fr 1fr;
            margin-inline: auto;
        }
    </style>
</head>

<body>
    <h1 id="title">Vesktop Recovery Mode</h1>

    <div class="buttons">
        <button class="green button">Force Update Vencord</button>
        <button class="grey button">Disable all Themes</button>
        <button class="red button">Reset Vencord Settings</button>
        <button class="red button">Reset Vesktop Settings</button>
    </div>
</body>

<script>

</script>