<head>
    <link rel="stylesheet" href="./style.css" type="text/css" />

    <style>
        * {
            user-select: none;
        }

        .wrapper {
            box-sizing: border-box;
            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            border-radius: 8px;
            border: 1px solid var(--fg-semi-trans);
        }

        p {
            text-align: center;
        }

        img {
            width: 6em;
            height: 6em;
        }
    </style>
</head>

<body>
    <div class="wrapper">
        <img
            draggable="false"
            src="https://cdn.discordapp.com/emojis/1024751291504791654.gif?size=512"
            alt="shiggy"
            role="presentation"
        />
        <p>Loading Vesktop...</p>
    </div>
</body>
