:root {
    --bg: white;
    --fg: black;
    --fg-secondary: #313338;
    --fg-semi-trans: rgb(0 0 0 / 0.2);
    --link: #006ce7;
}

@media (prefers-color-scheme: dark) {
    :root {
        --bg: hsl(223 6.7% 20.6%);
        --fg: white;
        --fg-secondary: #b5bac1;
        --fg-semi-trans: rgb(255 255 255 / 0.2);
        --link: #00a8fc;
    }
}

body {
    font-family:
        system-ui,
        -apple-system,
        BlinkMacSystemFont,
        "Segoe UI",
        Roboto,
        Oxygen,
        Ubuntu,
        Cantarell,
        "Open Sans",
        "Helvetica Neue",
        sans-serif;
    margin: 0;
    padding: 0;
    background: var(--bg);
    color: var(--fg);
}

a {
    color: var(--link);
}
