/* Download Desktop button in guilds list */
[class|=listItem]:has([data-list-item-id=guildsnav___app-download-button]),
[class|=listItem]:has(+ [class|=listItem] [data-list-item-id=guildsnav___app-download-button]) {
    display: none;
}

/* FIXME: Remove after 23/08/23 
.vc-desktop-settings {
    display: none;
} */